Map.json
{
  "name": "Map",
  "nodes": [
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n  \"location\":\"{{$json.location}}\"\n}"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        0,
        0
      ],
      "id": "b5201675-69bb-4722-85e1-cbc28371b0cb",
      "name": "When Executed by Another Workflow"
    },
    {
      "parameters": {
        "method": "POST",
        "url": "https://overpass-api.de/api/interpreter",
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "Content-Type",
              "value": "text/plain"
            }
          ]
        },
        "sendBody": true,
        "contentType": "raw",
        "rawContentType": "Raw/Text",
        "body": "=[out:json][timeout:25];\n(\n  node[\"name\"](around:2000,{{ $json.lat }},{{ $json.lon }});\n  way[\"name\"](around:2000,{{ $json.lat }},{{ $json.lon }});\n);\nout center 20;\n",
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        512,
        0
      ],
      "id": "59268f5d-f952-420c-8d64-f62d10a64eaa",
      "name": "HTTP Request1"
    },
    {
      "parameters": {
        "url": "https://nominatim.openstreetmap.org/search",
        "sendQuery": true,
        "queryParameters": {
          "parameters": [
            {
              "name": "q",
              "value": "={{$json.location}}"
            },
            {
              "name": "addressdetails",
              "value": "1"
            },
            {
              "name": "format",
              "value": "json"
            },
            {
              "name": "countrycodes",
              "value": "tw"
            },
            {
              "name": "limit",
              "value": "1"
            }
          ]
        },
        "sendHeaders": true,
        "headerParameters": {
          "parameters": [
            {
              "name": "User-Agent",
              "value": "N8N-LocationBot/1.0 (your.email@gmail.com)"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.2,
      "position": [
        272,
        0
      ],
      "id": "a020e604-0157-454e-b0f2-cb858961b66a",
      "name": "HTTP Request"
    }
  ],
  "pinData": {},
  "connections": {
    "When Executed by Another Workflow": {
      "main": [
        [
          {
            "node": "HTTP Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "HTTP Request": {
      "main": [
        [
          {
            "node": "HTTP Request1",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "active": false,
  "settings": {
    "executionOrder": "v1"
  },
  "versionId": "f7a640ab-e08d-4432-8cc7-adb7d14966fd",
  "meta": {
    "instanceId": "a1b6b0ed44c324ac2e3b63590fb4966c65fc7f4f95abf74438c66e3683ad302c"
  },
  "id": "zm4COjidQUmi338l",
  "tags": []
}